//Main styles for the about.html partial
$trans-blue: #5b88f6

#about-body
  box-sizing: border-box
  margin: 2rem auto
  display: flex
  flex-direction: column
  flex-wrap: wrap
  background:  linear-gradient(to bottom right, rgba(255,255,255,.6), rgba(169,169,169,.6), rgba(100,100,100,.7), rgba(50,50,50,.7))
  height: 100%
  color: white
  font-size: 20px
  font-family: 'Baloo Paaji', cursive
  box-shadow: 0 8px 8px 2px grey

#logo-div
  display: flex
  flex-direction: row
  background: white
  border: 1px solid lightblue
  order: -1
  img
    margin: auto

#about-div
  display: flex
  flex-direction: column
  align-items: center
  flex: 8
  order: -1

  hr.horizontal
    border: solid 1px black
    box-shadow: 0 0 10px 2px black
    width: 50%

  p.about-description
    text-align: left
    margin: 2rem

  .about-title-div
    display: flex
    flex-direction: row
    align-items: center

    #about-pic
      display: inline
      max-width: 200px
      max-height: 200px
      border-radius: 50%
      border: solid 2px black
      box-shadow: 0 3px 3px 2px grey
      margin: 1rem

    h1
      margin: 0
      padding: 0
      font-size: 72px
      text-shadow: 5px 5px black
