// Styling for the contact-view partial goes here
$primary-font: 'Roboto Slab', serif

#contact-view
  display: flex
  flex-direction: column
  width: 80%
  margin: 2rem auto
  padding: 2rem
  background:  linear-gradient(to bottom right, rgba(255,255,255,.6), rgba(169,169,169,.6), rgba(100,100,100,.7), rgba(50,50,50,.7))
  align-items: center
  box-shadow: 0 8px 8px 2px grey
  font-family: $primary-font


  div.contact-div
    display: flex
    flex-direction: column
    flex: 6
    font-size: 20px
    h2
      color: white
      align-self: center
    p
      color: white
      align-self: flex-start

    a.link
      color: orange
      margin: 0 1rem

    a:hover
      font-style: italic
      text-shadow: 5px 5px black

    p.inline-item
      display: flex
      flex-direction: row
      align-items: center
      margin: 1rem

    img
      margin-right: 1rem

    hr
      border: solid 1px black
      box-shadow: 0 0 10px 2px black
      width: 50%
