//Sass is compiling, 8/20/16 11:15 am
$trans-blue: #5b88f6
$light-grey: #d1d1d1
$github-grey: #171515


@import 'about-styles'
@import 'contact-styles'
@import 'project-styles'

//////////////////////////////////////////
// Defualt styles for whole app
body
  background-size: cover
  background-image: url(stone-bg.jpg)
  box-sizing: border-box
  margin: 0
  padding: 0

a
  text-decoration: none
  color: inherit
//////////////////////////////////////////
//////////////////////////////////////////


//////////////////////////////////////////
//Styling for the popup navbar
//Classes for any flex parent element
#navbar
  position: relative
  display: flex
  flex-direction: row
  background-image: url(stone-border.jpg)


#popup
  display: flex
  flex-direction: row
  align-items: flex-start
  z-index: 100
  height: 3rem
  width: 100%
  top: 0

  .list-item
    margin: 0
    flex-grow: 1
    text-align: center
    font-size: 30px
    font-family: 'Baloo Paaji', cursive
    color: white
    text-shadow: 5px 5px black

  .list-item a:hover
    color: $trans-blue
    cursor: pointer


//////////////////////////////////////////
//ng-animate classes for popout navbar
.animate-nav
  transition: all linear 0.8s

.animate-nav.ng-hide
  opacity: 0

.hide
  visibility: hidden

//////////////////////////////////////////
