//Sass is compiling, 8/20/16 11:15 am
$trans-blue: #5b88f6
$light-grey: #d1d1d1
$github-grey: #171515
$primary-font: 'Roboto Slab', serif

@import 'about-styles'
@import 'project-styles'
@import 'footer'
@import 'navbar'

//////////////////////////////////////////
// Defualt styles for whole app
body
  background-size: cover
  background-image: url(stone-bg.jpg)
  box-sizing: border-box
  height: 100vh
  margin: 0
  padding: 0

a
  text-decoration: none
  color: inherit
//////////////////////////////////////////
