//Begin styling for project-view html

#iframe-div
  font-family: 'Baloo Paaji', cursive

#project-iframe
  width: 80%
  height: 80vh
  margin: 1rem 5rem

#iframe-console h1
  text-align: center


#option-console
  background: lightblue
  color: white
  text-align: center
  width: 80%
  margin: 1rem 5rem
  box-shadow: 0 8px 8px 2px lightgrey
  h1,select
    margin: .5rem
    padding: 1rem


//Animation for iframe showing
.animate-iframe
  transition: all linear 2s

.animate-iframe.ng-hide
  opacity: 0
