<div id="about-body">

  <div id="about-div">
    <div class="about-title-div">
      <img id="about-pic" src="/img/profile.pic.jpg" />
      <h1>About Me</h1>
    </div>
    <div class="description-div">
      <hr class="horizontal">
      <p class="about-description">
        I’m Dominic Serrano, a Junior Software Developer and former athlete. In May of 2016, I began the six month journey at Nashville Software School that sparked my passion for programming.
      </p>
      <p class="about-description">
        I first came across my first coding tutorial in 2015, where I made simple webpages with HTML and CSS. After that I was utilizing as many online tutorials that could be found, and subscribed to Team Treehouse and dove into the JavaScript and jQuery lessons. Programming seemed to be a perfect fit because it constantly challenged me to learn more. From there, I was completely hooked. Then I heard about Software School, which seemed like the perfect environment to hone my programming skills.
      </p>
      <p class="about-description">
        As a Nashville native, I enjoy the great people and activities in and around the city. A few of my favorite activities have to be going to live music shows, playing in the Nashville Sports League, and sampling craft brewed beer.  And when none of that is going on, vintage arcade games and board games are my favorite pastimes. I also believe that giving back to the community is essential, and can’t wait to use my knowledge to benefit our amazing city.
      </p>
    </div>
  </div>

</div>
