<div id="about-body">

  <div id="about-div">
    <img id="about-pic" src="/img/profile.pic.jpg" />
    <h1>About Dominic</h1>
    <hr class="horizontal">
    <div>
      <p class="about-description">
        Dominic is a current student at Nashville Software School in Nashville, TN. When he is not programming single page applications and studying away, Dominic enjoys playing ping pong and sampling craft brewed beers around Nashville.
      </p>
      <p class="about-description">
        Come back soon to check out current projects!
      </p>
    </div>
  </div>

  <div id="logo-div">
    <img class="img-size" src="img/angular.js-logo.png" />
    <img class="img-size" src="img/css3-logo.png" />
    <img class="img-size" src="img/firebase-logo.png" />
    <img class="img-size" src="img/html5-logo.png" />
  </div>

</div>
