<div id="about-body">

  <div id="about-div">
    <div class="about-title-div">
      <img id="about-pic" src="/img/profile.pic.jpg" />
    </div>
    <div class="description-div">
      <h1>About Me</h1>
      <hr class="horizontal">
      <p class="about-description">
        My name is Dominic Serrano, and I am a current student at Nashville Software School in Nashville, TN.
      </p>
      <p class="about-description">
         When I am not programming single page applications and studying away, I enjoy playing ping-pong and sampling craft brewed beers around Nashville.
      </p>
    </div>
  </div>

  <div id="logo-container">
    <h5>Some Technologies Used</h5>

    <div id="logo-div">
      <img class="img-size" src="img/angular.js-logo.png" />
      <img class="img-size" src="img/css3-logo.png" />
      <img class="img-size" src="img/firebase-logo.png" />
      <img class="img-size" src="img/html5-logo.png" />
      <img class="img-size" src="img/sass-logo.png" />
      <img class="img-size" src="img/git-logo.png" />
    </div>
  </div>

</div>
