<section>
    <h2>Your Boards</h2>
    <div class="row" >
        <div  class="col s12 m6" ng-repeat="board in boards | filter: searchText.search">
          <div class="card teal darken-1">
            <div class="card-content white-text" >
              <span class="card-title">{{board.title}}</span>
              <p>{{board.desc}}</p>
            </div>
            <div class="card-action right-align ">
            <div>  
              <a href="#/boards/{{board.id}}" class=" amber-text left">Go to Board</a>
            </div>
              <a class="btn-floating btn-large waves-effect waves-light orange "><i class="material-icons">edit</i></a>
              <a class="btn-floating btn-large waves-effect waves-light orange "><i class="material-icons" ng-click="delete(board.id)">delete</i></a>
            </div>
          </div>
        </div>
      </div>
      <a class="btn-floating btn-large waves-effect waves-light red" href="#/boards/new"><i class="material-icons">add</i></a>
  </section>