<div>

  <div id="contact-view">

    <div class="contact-div">
      <h2><img src="img/phone-in-talk.png" />Contact Dominic</h2>
      <hr>
      <p class="inline-item"><img src="img/email-outline.png" />Email:<a class="link" href="https://mail.google.com/mail/?view=cm&fs=1&to=dmsrojo@gmail.com">dmsrojo@gmail.com</a></p>
      <p class="inline-item"><img src="img/github-box.png" />Github:<a class="link" href="https://github.com/DominicSerranoC14">  DominicSerranoC14</a></p>
      <p class="inline-item"><img src="img/facebook-box.png" />Facebook:<a class="link" href="https://www.facebook.com/dominic.serrano">Dominic Serrano</a></p>
      <p class="inline-item"><img src="img/twitter-box.png" />Twitter:<a class="link" href="https://twitter.com/DominicMSerrano">  @DominicMSerrano</a></p>
    </div>

  </div>

</div>
