<div id="footer-container">

    <h4>Contact Me:</h4>
    <a class="link" href="https://mail.google.com/mail/?view=cm&fs=1&to=dmsrojo@gmail.com"><img src="img/email-outline.png" /></a>
    <a class="link" href="https://mail.google.com/mail/?view=cm&fs=1&to=dmsrojo@gmail.com"><p>dmsrojo@gmail.com</p></a>

    <a class="link" href="https://github.com/DominicSerranoC14"><img src="img/github-circle.png" /></a>
    <a class="link" href="https://github.com/DominicSerranoC14"><p>DominicSerranoC14</p></a>

    <a class="link" href="https://www.linkedin.com/in/dominic-serrano"><img src="img/linkedin.png" /></a>
    <a class="link" href="https://www.linkedin.com/in/dominic-serrano"><p>Dominic Serrano</p></a>

</div>
