<nav ng-controller="NavCtrl">
  <div class="nav-wrapper" ng-hide="search">
    <a href="#" class="brand-logo"> Pinterest</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#/boards">View Boards</a></li>
      <li><a href="" title="" ng-click="search = !search">Search</a></li>
      <li ><a ng-click="logout()" href="#/login" title="">Logout</a></li>
    </ul>
  </div>
  <div class="nav-wrapper" ng-show="search">
    <form>
      <div class="input-field">
        <input id="search" type="search" required autofocus ng-model="searchText.search">
        <label for="search"><i class="material-icons">search</i></label>
        <i class="material-icons" ng-click="search = !search">close</i>
      </div>
    </form>
  </div>
</nav>