<!-- <img ng-show="navOpen" ng-click="toggleNavbar()" class="nav-icon" src="img/list-large.png" />
<img ng-hide="navOpen" ng-click="toggleNavbar()" class="nav-icon" src="img/close-large.png" /> -->
<nav id="navbar" ng-controller="NavBarCtrl">

  <div id="popup" class="animate-nav" ng-hide="navOpen">
    <p class="list-item title"><a href="#/">Dominic Serrano</a></p>
    <div class="link-div">
      <p class="list-item"><a href="#/about">About</a></p>
      <p class="list-item"><a href="#/projects">Portfolio</a></p>
    </div>
    <!-- <p class="list-item" href="#"><span>Some Project Name</span></p>
    <p class="list-item" href="#"><span>Some Project Name</span></p>
    <p class="list-item" href="#"><span>Some Project Name</span></p> -->
  </div>

</nav>
