<div id="project-view">

    <div id="option-console">
      <h1>Select A Project to View</h1>
      <select ng-model="selected" ng-options="site.name for site in urlList">
        <option value="">Choose a Project</option>
      </select>
      <button ng-click="changeUrl()">Preview Project</button>
    </div>

    <div id="iframe-console" class="animate-iframe" ng-hide="viewIframe">
      <h1>{{selectedTitle}}</h1>
      <iframe id="project-iframe" ng-src="{{url}}"></iframe>
    </div>

</div>
