<div id="project-view">

  <h1>Portfolio</h1>

  <div id="iframe-console" class="animate-iframe" ng-hide="viewIframe">
    <h1>{{selectedTitle}}</h1>
    <div id="project-view-container">
      <div id="project-panel">
        <p>Project Description:</p>
        {{selectedObj.detailDesc}}
        <a class="link" href="{{selectedObj.githubRepo}}"><p>Click to View the Github Repo</p></a>
        <a class="link" href="{{selectedObj.hostedUrl}}"><p>Click to View the hosted url</p></a>
        <p>Technologies used:</p>
        <div class="panel-icon-list" >
          <img ng-repeat="each in selectedObj.tech" ng-src="{{each.img}}" alt="{{each.title}}" />
        </div>
      </div>


      <iframe id="project-iframe" ng-src="{{url}}" width="700px" height="700px"></iframe>
    </div>
  </div>


  <div id="portfolio-container">
    <div class="project-div" ng-click="changeUrl(item)" ng-repeat="item in urlList">
      <h3>{{item.name}}</h3>
      <p>{{item.desc}}</p>
      <img ng-src="{{item.projectImg}}" alt="{{item.imgAlt}}" />
    </div>
  </div>

</div>
