/*$trans-blue: #5b88f6
$primary-font: 'Roboto Slab', serif*/

#about-body {
  box-sizing: border-box;
  margin: 4rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: white;
  color: black;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

#about-body .down-arrow {
  margin: auto;
}

#about-div {
  display: flex;
  flex-direction: row;
  flex: 8;
  flex-wrap: wrap;
  order: -1;
}

#about-div .horizontal {
  border: solid 1px black;
  box-shadow: 0 0 10px 2px black;
  width: 50%;
}

#about-div .about-description {
  text-align: center  ;
  margin: 2rem auto;
  width: 50%;
}

#about-div .about-title-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#about-pic {
  display: inline;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  border: solid 1px black;
  margin: 1rem;
}

#about-pic h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-shadow: 5px 5px black;
  text-align: center;
}

.about-link {
  color: #5b88f6;
}

.about-link:hover {
  text-decoration: underline;
}

#contact-container {
  color: white;
  font-style: 'Roboto Slab', serif;
}

#contact-container h2 {
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px black;
  margin: 1rem;
}
