#footer-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  margin-top: 2rem;
  position: fixed;
  bottom: 0;
}

#footer-container  h4 {
  display: inline;
  margin: 1rem;
}

#footer-container a {
  margin: .5rem;
}


/* Media queries */
@media (max-width: 800px) {

  #footer-container p {
    display: none;
  }

  #footer-container h4 {
    display: none;
  }

  #footer-container {
    display: flex;
    flex-direction: row;
  }

}
