:root {
  --trans-blue: #5b88f6;
  --light-grey: #d1d1d1;
  --github-grey: #171515;
}

body {
  background-color: black;
  /*background-size: cover;
  background-image: url(../img/stone-bg.jpg);*/
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
