#navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  font-family: 'Roboto Slab', serif;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,.7);
  padding: .5rem 0 .5rem 0;
}

#navbar .list-item {
  margin: .5rem 3rem;
  font-size: 20px;
  color: white;
}

#navbar .list-item a:hover {
  color: #5b88f6;
  cursor: pointer;
}

#navbar .title {
  position: absolute;
  left: 0;
  font-size: 30px;
}


/* Media queries */
@media (max-width: 800px) {

  #navbar .title {
    display: none;
  }

  #navbar {
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
  }

  #navbar .list-item {
    margin: .75rem 0;
    font-size: 40px;
  }

}

@media handheld and (min-width: 500px) {

  #navbar .title {
    display: none;
  }

  #navbar {
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
  }

  #navbar .list-item {
    margin: .75rem 0;
    font-size: 40px;
  }

}
