#navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'Roboto Slab', serif;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,.3);
}

#navbar .list-item {
  margin: .5rem 1rem;
  font-size: 20px;
  color: white;
}

#navbar .list-item a:hover {
  /* trans blue here */
  color: #5b88f6;
  cursor: pointer;
}

#navbar .title {
  position: absolute;
  left: 0;
  font-size: 30px;
}


/* Media queries */
@media (max-width: 500px) {
  #navbar .title {
    display: none;
  }

  #navbar {
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
  }

  #navbar .list-item {
    margin-top: 5px;
  }

}
