#project-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 4rem 0;
  color: black;
  font-family: 'Roboto Slab', serif;
  background: white;
  font-size: 20px;
  box-shadow: 0 8px 8px 2px black;
}

.project-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3rem 0 2rem 0;
}

.project-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: grey;
}

.project-info h1 {
  color: black;
  margin-bottom: 0;
}

.project-date {
  margin-top: 0;
  font: 12px;
}

.panel-icon-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.panel-icon-list img {
  margin: .5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 5% 15%;
}

.project-pic-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.project-pic {
  width: 85%;
  height: 85%;
  border: .25rem solid black;
  border-radius: 10px 5px;
}

.project-summary {
  margin: 2rem;
}

.link-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-div .link {
  color: #5b88f6;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.project-div .link img {
  padding-right: 1rem;
}

.project-div .link:hover {
  border-bottom: 2px solid black;
}

/* Media queries */
@media (max-width: 1000px) {

  #project-view {
    margin-top: 6rem;
  }

  .project-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
  }

}

@media (max-width: 600px) {

  #project-view {
    margin-top: 7rem;
  }

  .project-div {
    margin-top: 3rem;
    font-size: 20px;
  }

  .project-pic {
    display: none;
  }

  .link-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .project-div h1 {
    margin-top: 0;
    font-size: 30px;
  }

  .project-div .link {
    width: 50%;
    margin: .5rem auto;
  }

  .panel-icon-list img {
    width: 3rem;
    height: 3rem;
  }

  .panel-icon-list p {
    margin: auto;
    width: 80%;
  }

}
